.calculator {
    font-weight: 300px;
    display: grid;
    margin: auto;
    padding: 10px;
    background-color: #bebebe;
    color: hsl(0, 0%, 100%);
    border-radius: 0.02px;
}

.calculator input {
    display: -white;
    width: 300px;
    height: 20px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 5px;
    font-size: xx-large;
    text-shadow: 100-px 100px 1000 #000;

}

.buttons {
display: white;
}

.calculator button{
    width: 100px;
    height: 50px;
    font-size: xx-large;
    border:none;
    cursor:pointer;
}
.calculator button:hover{
    background-color: aquamarine;
}
